{% extends "layouts/layouts.html" %}
{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
    <h1>{{title}}</h1>
    <p>“Formar profesionistas altamente capacitados y comprometidos con el desarrollo sostenible, mediante una educación tecnológica de vanguardia que integra el conocimiento teórico y práctico. La Universidad Tecnológica de Durango busca contribuir al crecimiento económico, social y cultural de la región y del país, fomentando valores de responsabilidad, innovación y ética profesional, para enfrentar los retos de un mundo globalizado y en constante cambio.”</p>
{% endblock content %}